@page  "/Homepage"
@using Microsoft.AspNetCore.Http
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @if (@HttpContext.Session.GetString("NAME") != null)
    {
        <h1 class="display-4">Welcome, @HttpContext.Session.GetString("NAME").</h1>
        <a asp-page="/Profile" 
           asp-route-id="@HttpContext.Session.GetString("UID")" 
           class="btn btn-primary mx-1 mt-4">
            <i class="fas fa-edit"></i> Edit Your Profile
        </a>
    }
    @if (@HttpContext.Session.GetString("NAME") == null)
    {
        <h1 class="display-4 mt-5">Welcome to GSMS.</h1>
        <p class="mt-4">Please login to do amazing things.</p>
        <form method="get" asp-page="/Login">
            <button type="submit" class="btn btn-outline-success mt-2">
                LOGIN HERE
            </button>
        </form>
    }
</div>


