@page  "/Homepage"
@using Microsoft.AspNetCore.Http
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, @HttpContext.Session.GetString("NAME")</h1>
    

</div>


