@page
@model GsmsRazor.Pages.QRModel
@{
    <div class="container">
        <div id="content">
            <div id="viewContent">
                @using (Html.BeginForm(null, null, FormMethod.Post))
                {
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label>Enter points for creating QR Code</label>
                                </td>
                                <td>
                                    <input type="number" name="points" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <button>Submit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>

            @{
                if (ViewBag.encodedBytes != null)
                {
                    <h3>QR Code Successfully Generated</h3>
                    <img src="@String.Format("data:image/png;base64,{0}", @ViewBag.encodedBytes)"
                     style="max-height:60vh;max-width:60vw;" />
                }
            }
        </div>
    </div>
}
