@page
@model GsmsRazor.Pages.QRModel
@{
    <div class="container col-md-12">
        <div id="content" class="col-md-12">
            <div id="viewContent" class="col-md-12">
                @using (Html.BeginForm(null, null, FormMethod.Post))
                {
                <div class="col-md-12 d-flex flex-column justify-content-center align-content-center">
                    <label>Enter points for creating QR Code</label>
                    @*<input class="col-md-2" type="text" name="points" />*@
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">P ></span>
                        </div>
                        <input type="text" class="form-control col-md-3" placeholder="Enter points hehe" name="points">
                    </div>
                    <button class="btn btn-outline-success col-md-1">Submit</button>
                </div>
                }
            </div>

            @{
                if (ViewBag.encodedBytes != null)
                {
                    <div class="col col-md-12 d-flex justify-content-center align-items-center flex-column">
                        <h3>QR Code Successfully Generated</h3>
                        <img src="@String.Format("data:image/png;base64,{0}", @ViewBag.encodedBytes)"
                                style="height: auto; max-width: 40vw;" />
                    </div>
                }
            }
        </div>
    </div>
}
